---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=%E5%8C%97%E4%BA%AC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":116.4,"lat":39.91},"weather":[{"id":800,"main":"Clear","description":"Sky is Clear","icon":"01d"}],"base":"cmc stations","main":{"temp":307.28,"pressure":1002,"humidity":28,"temp_min":302.04,"temp_max":312.04},"wind":{"speed":6,"deg":180},"clouds":{"all":0},"dt":1436861752,"sys":{"type":1,"id":7405,"message":0.0072,"country":"CN","sunrise":1436821043,"sunset":1436874163},"id":1816670,"name":"Beijing","cod":200}
  recorded_at: Tue, 14 Jul 2015 09:00:55 GMT
recorded_with: VCR 2.9.3
