---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":37.62,"lat":55.75},"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}],"base":"cmc stations","main":{"temp":290.82,"pressure":1007,"humidity":51,"temp_min":289.15,"temp_max":292.78},"wind":{"speed":4,"deg":200},"clouds":{"all":40},"dt":1436862520,"sys":{"type":1,"id":7323,"message":0.0135,"country":"RU","sunrise":1436835864,"sunset":1436897126},"id":524901,"name":"Moscow","cod":200}
  recorded_at: Tue, 14 Jul 2015 09:00:56 GMT
recorded_with: VCR 2.9.3
